*{
margin:0;
padding:0;
}


nav{ display:flex
}

#fixedimage1{
 background-image: url("images/image1.jpg");
    min-height: 15em; 
    border-radius: 0.2em;  
    /*
    background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top:1em;
}

div h1,div p{
  text-align:center;
  color:white;
}
