*{
margin:0;
padding:0;
}


nav{ display:flex
}

#fixedimage1{
 background-image: url("images/image1.jpg");
    min-height: 10em; 
    /*
    background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

div h1,div p{
  margin-top:1em;
  text-align:center;
  color:rgb(182, 195, 238);
  font-weight: bold;
}





/*nav bar */
nav{
  overflow: hidden;
  width: 100%;
  padding-left:0.5em;
  padding-right: 0.5em;
  
}


nav ul {
  width: 100%;
    display:grid;
    grid-template-columns: 15% 25% 25% 35%;
    grid-template-rows: auto;
    grid-template-areas: "a b c d";
    text-align: center;
    list-style: none;
    
}


nav a{
  text-decoration:none;
  color:rgb(182, 195, 238);
  border:solid 3px yellow;
  padding: 1em;
  border-radius:1em;  
  white-space: nowrap;
}


a[href=""]{
 background-color: rgb(245, 245, 157);
 color:black;
}

nav a:hover{
  background:White;
  color:black;
}
nav a:active{
    color:White;
    background:rgb(55, 55, 211);

}